<div class="container">
    <div class="row">
        <div class="col s12 m3">
            <div class="card">
                <div class="card-image">
                    <img src= "/human.jpeg"></img>
                </div>
                <div class="card-content">
                    <div class="card-title"><%= current_user.name %></div>
                    <p>이메일 : <%= current_user.email %></p>
                    <p>작성하신 글은 <%= @posts_count %> 개 입니다.</p>
                    <p>Follower : <%= current_user.followers.length %></p>
                    <p>Following : <%= current_user.followings.length %></p>
                    <p><a class="waves-effect waves-light btn orange lighten-3" href="/users/edit">Edit User</a></p>
                    <!--<%= link_to new_post_path do %>-->
                    <!--    <button class="btn">글 쓰 기</button>-->
                    <!--<% end %>-->
                </div>
            </div>
        </div>
        <span class="fixed-action-btn">
                <%= link_to new_post_path do %>
                    <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></button>
                <% end %>
        </span>
        <div class="col s12 m8">
            <% @myposts.each do |post| %>
                <div class="card">
                    <div class="card post" data-post-id="<%= post.id %>">
                        <div class="card-content">
                            <span class="card-title"><%= post.user.name %></span>
                            <span><%= post.created_at %></span>
                                <% if user_signed_in? && current_user != post.user %>
                                  <% if current_user.followings.include?(post.user) %>
                                    <%= form_tag follow_path(post.user.id), method: :delete, class: "right" do %>
                                      <button class="btn margin-bottom deep-orange lighten-3">UnFollow</button>
                                    <% end %>
                                  <% else %>
                                    <%= form_tag follows_path, method: :post, class: "right" do %>
                                      <input type="hidden" name="followed_id" value="<%= post.user.id %>" />
                                      <button class="btn margin-bottom deep-orange lighten-3">Follow</button>
                                    <% end %>
                                  <% end %>
                                <% end %>
                            <div class="card-image">
                                <% if post.image.url %>
                                  <img class="margin-bottom" src="<%= post.image.url %>" />
                                <% end %>
                            </div>
                            <p class= "pre-line margin-top"><%= post.content %></p>
                        </div>
                    </div>
                    
                    <div class="card-action">
                        <img src="/thumbs-up.png"></img><span class="orange-text text-darken-4"><%= post.likes.size %></span>
                            <% if current_user.is_like?(post)%>
                                <%= link_to "Cancel", post_like_path(post), method: "post"%>
                            <% else %>
                                <%= link_to "Like", post_like_path(post), method: "post" %>
                            <% end %>
                            <% if current_user.id == post.user_id %>
                                <%= link_to "Delete", post_path(post), method: "delete", class: "right" %>
                                <%= link_to "Edit", edit_post_path(post), class: "right" %>
                            <% end %>   
                        <%= form_tag post_comments_path(post) do %>
                            <div  class="input-field">
                                <%= text_area_tag :content, nil, class: "materialize-textarea" %>
                            </div>
                            <div class="input-field">
                                <%= button_tag "Submit", class: "btn orange lighten-3" %>
                            </div>
                        <% end %>
                        <% if post.comments.present? %>
                            <ul class="collection">
                                <% post.comments.each do |comment| %>
                                    <li class="collection-item">
                                        <span class="title"><%= comment.user.name %></span>
                                        <span class="right"><%= comment.created_at %></span>
                                        <p class="pre-line"><%= comment.content %></p>
                                        <% if comment.user.id == current_user.id %>
                                            <div><%= link_to "Delete", post_comment_path(post, comment), method: "delete" %></div>
                                        <% end %>
                                    </li>
                                <% end %>
                            </ul>
                        <% end %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>