<!DOCTYPE html>
<html>
  <head>
    <title>SNS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper teal #ff8f00 amber darken-3">
        <a href="/" class="brand-logo center",>Blog</a></span>
        <ul class="right hide-on-med-and-down">
          
          <% if user_signed_in? %>
            <li><%=link_to current_user.name, post_mypage_path(current_user.id), method: 'get' %></li>
            <li><%=link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
          <% else %>
          <li><a href="/users/sign_up">Sign up</a></li>
          <li><a href="/users/sign_in">Sign in</a></li>
          <% end %>
          <li class="active"><a href="/posts">Posts</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
